#parent{
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
}
#item1{
    background-color: aqua;
    text-align: center;
    color: black;
    height: 100px;
    width: 100px;

}
#item2{
    background-color: #ad1d6c;
    text-align: center;
    color: rgb(68, 16, 136);
    height: 100px;
    width: 100px;

}
#item3{
    background-color: rgb(212, 255, 0);
    text-align: center;
    color: green;
    height: 100px;
    width: 100px;

}
