

header{
    position: sticky;
    top: 0px;

}
nav{
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul>li{
    list-style-type: none;
}
div > #head{
    position: fixed;
    border: solid;
    bottom: 0px;
    right: 0px;
}
.parent{
    height: 80px;
    width: 50px;
    position: relative;
    left: 50px;
}
.parent>.child{
    position: absolute;
    bottom:0px;
    right: 0px;
}