*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
nav{
    display: flex;
    justify-content:space-between;
    margin:30px;  
}
ul{
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    
}
ul>li{
    list-style-type: none;
    font-size: 17px;
    font-weight:600;

}
ul>li>a{
    text-decoration: none;
    color: black;  
}
.contact-btn{
 justify-content:end ;
    height: 50px;
    width: 100px;
}
button{
    background-color: brown;
    padding:10px;
    border: 1px solid white;
    border-radius: 30%;
    font-size: 12px;
    align-items: end;
}
.home-section> a{
    color: blue;
}
a:hover{
    color: blue;
}
